language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
branches:
  only:
    - develop
    - master
before_script:
    - composer -n --no-ansi install --dev --prefer-source
    - cp phpunit.xml.travis phpunit.xml
matrix:
  fast_finish: true
sudo: false
