<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="html-validator test suite">
            <directory>tests/UnitTests</directory>
            <directory>tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml"/>
        <log type="testdox-html" target="build/logs/testdox.html"/>
        <log type="testdox-text" target="build/logs/testdox.txt"/>
    </logging>

    <php>
        <const name="HTML_VALIDATOR_ENABLE_INTEGRATION_TESTS" value="true"/>
        <const name="HTML_VALIDATOR_URL" value="https://validator.w3.org/nu/"/>
    </php>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">library/HtmlValidator</directory>
        </whitelist>
    </filter>
</phpunit>