<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="html-validator test suite">
      <directory>tests/UnitTests</directory>
      <directory>tests/IntegrationTests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage for html-validator" charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    <log type="testdox-html" target="build/logs/testdox.html" />
    <log type="testdox-text" target="build/logs/testdox.txt" />
  </logging>

  <php>
    <const name="HTML_VALIDATOR_ENABLE_INTEGRATION_TESTS" value="false" />
    <const name="HTML_VALIDATOR_URL" value="https://checker.html5.org" />
  </php>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">library/HtmlValidator</directory>
    </whitelist>
  </filter>
</phpunit>